<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Supplier Details Updater</title>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext" />

<link rel="stylesheet" href="../css/bootstrap-ui.min.css" />
</head>

<body class="site">
	<header role="banner" class="site-header">
		<nav class="navbar navbar-static-top navbar-primary">
			<div class="container">
				<div class="navbar-header">
					<a th:href="@{/}" class="navbar-brand offset-right-large"
						title="Family Detail Updater">Family Details Updater</a>
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="site-content">
	<div class="jumbotron">
	<div class="container">
		<div class="panel panel-info">
		    <div class="panel-heading panel-heading-extended">
		        <a th:href="@{/logout}" class="panel-action" title="Logout"><span aria-hidden="true">Logout</span></a>
		        <a href="#">
		            <h5 class="panel-title panel-title-subtitle" th:utext="${userName}"></h5>
		        </a>
		    </div>
		    <div class="panel-body">
		        Winged. Grass female creepeth you're light firmament replenish have seasons may to seed also female.
		    </div>
		</div>
	</div>
</div>
	</main>

	<footer role="contentinfo" class="site-footer navbar-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					© CopyRight,All Rights Reserved 2017
				</div>
			</div>
		</div>
	</footer>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/moment-with-locales.min.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/bootstrap-ui.min.js"></script>
</html> 